requests==2.28.1
beautifulsoup4==4.11.1
bs4==0.0.1
cpe-utils==0.1.0
mariadb==1.1.3
ttkwidgets==0.12.1
Pillow==9.2.0
lxml==4.9.1
python-docx==0.8.11
PyPDF2==2.9.0
fonttools==4.34.4
cycler==0.11.0
kiwisolver==1.4.4
matplotlib==3.5.2
numpy==1.23.1
tqdm==4.64.0
docx2pdf==0.1.8
schedule==1.1.0
customtkinter==4.5.10
win10toast-click==0.1.2
